.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

/*
purple: #5d215f
dark gray: #91877e
light gray: #9f9589
cream: #ebe7c2
*/

/*
medium gray: #ccc
light gray: #e7e7e7
medium purple: #6f5092
light purple: #e7d6f1
*/

/*
dark gray: #57525a
light gray: #7c7780
light purple: #7b6883
medium purple: #6b5370
dark purple: #5f5571
*/

/*
text off-black: #222
light purple: #a27eaf
medium purple: #61456a
dark purple: #3d2d43
gray bg: #bdbdbb
light gray: #e3e3e1
medium gray: #999999
dark gray: #666666
cream: #f2f0d8;
*/

@font-face {
  font-family: "Amatic";
  src: url("../fonts/AmaticSC-Regular.ttf") format("truetype");
}

body {
  /*background-color: #bdbdbb;*/
  background-color: #57525a;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

h2,h3 {
  font-family: 'Bree Serif', sans-serif;
}

h2 {
  color: #61456a;
}

h3 {
  color: #3d2d43;
}

a {
  color: #61456a;
}
a:hover {
  color: #3d2d43;
  text-decoration: none;
}

.row.even {
  background-color: #e3e3e1;
}
.row.odd {
  background-color: #999999;
}
.row.section-container {
  min-height: 320px;
}

.row p {
  padding-right: 1.5em;
}
.our-names {
  font-family: 'Amatic', sans-serif;
  font-size: 6em;
  line-height: 1.2;
  color: #a27eaf;
}
.coming-soon {
  text-align: center;
  background-color: #e3e3e1;
  min-height: 100%;
}
.coming-soon .message {
  background-color: #3d2d43;
  margin: 2em auto;
  padding: 1.2em 0;
  max-width: 350px;
  border-radius: 5px;
}
.main-photo {
  margin: 1em;
}
.section-photo {
  margin: 1em 1em 1em 0;
  width: 450px;
  height: 300px;
}
.officiant-photo {
  margin: 1em 1em 1em 0;
  width: 300px;
  height: 300px;
}
.wedding-party {
  margin-top: 4em;
}

@media (max-width: 480px) {
  .photo img {
    height: 180px;
    width: 240px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .photo img {
    height: 360px;
    width: 480px;
  }
}
@media (min-width: 768px) {
  .photo img {
    height: 408px;
    width: 544px;
  }
}