.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

@font-face {
  font-family: "Lavanderia";
  src: url("../fonts/lavanderia-regular.otf") format("opentype");
}
@font-face {
  font-family: "Lavanderia Delicate";
  src: url("../fonts/lavanderia-delicate.otf") format("opentype");
}
@font-face {
  font-family: "Lavanderia Sturdy";
  src: url("../fonts/lavanderia-sturdy.otf") format("opentype");
}

.our-names {
  font-family: 'Lavanderia Sturdy', sans-serif;
  font-size: 9em;
}