.row.even.section-container
  .span6
    %h1.our-names
      Ali & Matt
    %h2
      Healdsburg CA - 2/22/2014
    %p
      We met while working together at EMI Music in 2009. I (Ali) was working from the Hollywood office while Matt was up in San Francisco. After some changes happened with the team, I was asked to relocate to San Francisco to manage the office and met Matt in person shortly thereafter. If it were up to our co-worker and friend, Evan, we would have started dating long before we actually did … he should really be a professional matchmaker! When Matt finally asked me out, we enjoyed a first date full of sushi and cocktails (not much has changed!) and the conversation flowed freely. A few years, a couple apartments and one noisy cat later, Matt popped the question and here we are planning our dream wedding!
  .span6
    %img.main-photo{src: 'images/matt-and-ali-resized.jpg'}
.row.odd.section-container
  .span5
    %img.section-photo{src: 'images/barndiva.jpg'}
  .span7
    %h2
      Ceremony and Reception at Barndiva
    %h3
      231 Center St, Healdsburg CA 95448
    %p
      From the minute I (Ali) walked in, I fell in love! It wasn’t until the next weekend when I brought Matt back (and tasted the food!) that we decided this would be the perfect place to get married. From the beautiful gardens, eclectic art, wonderful wine, refreshing cocktails (and did we mention amazing food?!) Barndiva couldn’t get any better.
    %p
      The ceremony will start promptly at 5pm in the Barndiva restaurant garden. After the ceremony, cocktail hour, dinner & dancing will take place next door at Studio Barndiva, both in the gallery and in the studio garden.
    %ul
      %li
        %a{href: 'http://www.barndiva.com', target: '_blank'}
          Barndiva
      %li
        %a{href: 'http://www.studiobarndiva.com', target: '_blank'}
          Studio Barndiva
.row.even.section-container
  .span12
    .row
      .span12
        %h2
          Wedding Party
    .row
      .span6
        %img.section-photo{src: 'images/molly.jpg'}
        %ul
          %li
            Molly Diebel - Matron of Honor
        %ul
          %li
            Sarah Nobles - Bridesmaid
          %li
            Korianne Doliner - Bridesmaid
          %li
            Lauren Oates - Bridesmaid
      .span6
        %img.section-photo{src: 'images/tom.jpg'}
        %ul
          %li
            Tom Kent - Best Man
        %ul
          %li
            Kyle Shank - Groomsman
          %li
            Jason Diebel - Groomsman
          %li
            Wes Goodman - Groomsman
    .row
      .span6
        %img.section-photo{src: 'images/carrie.jpg'}
        %ul
          %li
            Rev. Carrie Campos - Officiant
      .span6
        %img.extra-photo{src: 'images/mimi.jpg'}
        %ul
          %li
            Mimi - Honorary Flower Girl
.row.odd.section-container
  .span12
    .row
      .span12
        %h2
          Hotels
    .row
      .span6
        %h3
          L & M Motel (
          %a{href: 'http://www.landmmotel.com', target: '_blank'}
            website
          )
        %p
          L&M Motel is walking distance (1/2 mile) from Barndiva and was voted one of the best 50 hotels under $150 in California by Sunset magazine. This colorful motel has 19 rooms all blocked for our guests on Thursday, Friday & Saturday night. There is a 2 night minimum at this motel.  Mention the Diebel-Kent wedding when booking.
      .span6
        %h3
          Dry Creek Inn (
          %a{href: 'http://www.secure-res.com/res/vn4/cglogin.aspx?hotelid=1683&rlog=2761', target: '_blank'}
            website
          )
        %p
          Dry Creek Inn is a little over a mile from downtown Healdsburg  but is still walkable from the venue. We have secured a room block  at this hotel as well for Thursday, Friday & Saturday nights, with a variety of rooms set aside for our guests. Rates range anywhere from $89/night - $129/night and there is no two night minimum at this location. Feel free to call to book your room directly with the hotel & mention the Diebel-Kent wedding. If you’d rather book online, please use this link and enter the password diebelkent.
    .row
      .span6
        %h3
          Other Options
        %p
          Both crawling distance from the venue, these hotels have a two night minimum and are a little on the pricier side. If you’re looking to treat yourself, these are your hotels!
        %ul
          %li
            %a{href: 'http://www.hotelhealdsburg.com/home/', target: '_blank'}
              Hotel Healdsburg
          %li
            %a{href: 'http://www.h2hotel.com/home/', target: '_blank'}
              H2 Hotel
        %p
          If a hotel is not your thing, check out all the awesome houses for rent in the area. Between Airbnb, VRBO and Homeaway, you’re bound to find something perfect for the weekend.
      .span6
.row.even.section-container
  .span7
    %h2
      Visiting Healdsburg
    %p
      Healdsburg is located in the gorgeous Dry Creek Valley area of wine country about 70 miles north of San Francisco. Whether you want to wine taste, go for a bike ride or just relax in the square, Healdsburg has a little something for everyone. We hope you enjoy this little piece of heaven as much as we do!
    %ul
      %li
        %a{href: 'http://www.ci.healdsburg.ca.us/index.aspx', target: '_blank'}
          City of Healdsburg
      %li
        %a{href: 'http://www.healdsburg.com', target: '_blank'}
          Healdsburg Visitors Bureau
      %li
        %a{href: 'http://wikitravel.org/en/Healdsburg', target: '_blank'}
          Healdsburg on Wikitravel
  .span5
    %img.section-photo{src: 'images/healdsburg.jpg'}
.row.odd.section-container
  .span9
    %h2
      Registry
    %p
      When we started thinking about where we should register, it occurred to us that we really didn’t need much. We’ve got the Kitchen Aid mixer, the Vitamix, some nice knives and to be honest, we’re sort of out of space in our apartment! Because of this, we decided to create a HoneyFund, a registry for our honeymoon! Neato, huh?
    %ul
      %li
        %a{href: 'http://www.honeyfund.com/wedding/aliandmatt', target: '_blank'}
          Honeyfund
    %p
      If you'd prefer to make a donation, one of our favorite non-profits is the Gentle Barn. Their mission is to rescue, rehabilitate and give sanctuary to abused animals. They work with children from the inner city, group homes, mental health care facilities, foster homes, and schools to teach them kindness, compassion and empathy for all living beings.
    %ul
      %li
        %a{href: 'http://www.gentlebarn.org', target: '_blank'}
          The Gentle Barn
  .span3
