.row.even.section-container
  .span6
    %h1.our-names
      Ali & Matt
    %h2
      Healdsburg CA - 2/22/2014
    %p
      Actually mollit Carles, Cosby sweater commodo narwhal quinoa. Jean shorts McSweeney's craft beer Neutra fap, esse art party disrupt occupy pop-up cliche. Wes Anderson laboris keffiyeh, pork belly sed direct trade Pitchfork aliquip. Quis distillery skateboard, retro fixie bitters brunch ad Intelligentsia nihil food truck trust fund. Non quis umami vinyl Truffaut, organic single-origin coffee squid assumenda keytar reprehenderit deep v. Lomo swag post-ironic single-origin coffee, assumenda fap cornhole aliquip commodo ad Helvetica flexitarian pickled nesciunt keytar. Ex Banksy 3 wolf moon, squid ugh bicycle rights est put a bird on it duis four loko Helvetica deserunt.
  .span6
    %img.main-photo{src: 'images/matt-and-ali-resized.jpg'}
.row.odd.section-container
  .span5
    %img.section-photo{src: 'images/barndiva.jpg'}
  .span7
    %h2.centered
      Ceremony and Reception at Barndiva
    %h3.centered
      231 Center St, Healdsburg CA 95448
    %p
      Plaid leggings shabby chic, gentrify placeat labore mlkshk Cosby sweater Pinterest literally cardigan lo-fi. Deep v pug letterpress, readymade butcher disrupt commodo stumptown High Life American Apparel. Tousled incididunt irony sriracha, Tonx chillwave wayfarers you probably haven't heard of them magna leggings semiotics flannel odio put a bird on it dreamcatcher. Gluten-free ea cornhole, Portland Marfa DIY hashtag assumenda. Ex disrupt American Apparel, lomo sriracha deep v magna veniam proident beard accusamus raw denim hashtag. Pop-up bitters magna voluptate nihil pour-over. Voluptate vegan meggings, delectus drinking vinegar deep v aliqua aute ullamco actually banjo.
    %p
      Brunch wolf chia est Tumblr put a bird on it. Etsy pour-over est, farm-to-table labore gastropub locavore nihil beard. Actually Odd Future 90's, yr drinking vinegar paleo chia mollit asymmetrical. Photo booth Brooklyn commodo, try-hard pork belly stumptown pickled excepteur vinyl dolore post-ironic. Officia bespoke commodo, accusamus quinoa asymmetrical irony Helvetica DIY. Intelligentsia quinoa umami occupy paleo. Wolf Bushwick Portland duis, Neutra put a bird on it lo-fi Echo Park High Life paleo.
    %ul
      %li
        %a{href: 'http://www.barndiva.com'}
          Barndiva
      %li
        %a{href: 'http://www.studiobarndiva.com'}
          Studio Barndiva
.row.even.section-container
  .span12
    .row
      .span12
        %h2
          Wedding Party
    .row
      .span6
        %ul
          %li
            Molly Diebel - Matron of Honor
          %li
            Sarah Nobles - Bridesmaid
          %li
            Korianne Doliner - Bridesmaid
          %li
            Lauren Oates - Bridesmaid
      .span6
        %ul
          %li
            Tom Kent - Best Man
          %li
            Kyle Shank - Groomsman
          %li
            Jason Diebel - Groomsman
          %li
            Wes Goodman - Groomsman
.row.odd.section-container
  .span12
    .row
      .span12
        %h2
          Hotels
    .row
      .span6
        %h3
          L & M Motel (
          %a{href: 'http://www.landmmotel.com'}
            website
          )
        %p
          Labore Tumblr ugh, aesthetic non leggings laboris 90's kogi Pinterest eu tofu. Raw denim cred sartorial, gentrify art party Schlitz excepteur locavore PBR&B cornhole cliche. Fap fixie aliquip Godard, disrupt VHS assumenda tattooed selvage you probably haven't heard of them ex minim keytar. Put a bird on it velit tofu, blog whatever sint consectetur McSweeney's dreamcatcher pariatur duis skateboard Helvetica polaroid consequat. Sriracha fingerstache beard ugh nisi DIY bespoke. High Life Godard mustache Etsy. Fap pour-over you probably haven't heard of them authentic mixtape officia.
      .span6
        %h3
          Dry Creek Inn (
          %a{href: 'http://www.drycreekinn.com'}
            website
          )
        %p
          Labore Tumblr ugh, aesthetic non leggings laboris 90's kogi Pinterest eu tofu. Raw denim cred sartorial, gentrify art party Schlitz excepteur locavore PBR&B cornhole cliche. Fap fixie aliquip Godard, disrupt VHS assumenda tattooed selvage you probably haven't heard of them ex minim keytar. Put a bird on it velit tofu, blog whatever sint consectetur McSweeney's dreamcatcher pariatur duis skateboard Helvetica polaroid consequat. Sriracha fingerstache beard ugh nisi DIY bespoke. High Life Godard mustache Etsy. Fap pour-over you probably haven't heard of them authentic mixtape officia.
    .row
      .span12
        %h3
          Other Options
        %p
          Labore Tumblr ugh, aesthetic non leggings laboris 90's kogi Pinterest eu tofu. Raw denim cred sartorial, gentrify art party Schlitz excepteur locavore PBR&B cornhole cliche. Fap fixie aliquip Godard, disrupt VHS assumenda tattooed selvage you probably haven't heard of them ex minim keytar. Put a bird on it velit tofu, blog whatever sint consectetur McSweeney's dreamcatcher pariatur duis skateboard Helvetica polaroid consequat. Sriracha fingerstache beard ugh nisi DIY bespoke. High Life Godard mustache Etsy. Fap pour-over you probably haven't heard of them authentic mixtape officia.
        %ul
          %li
            %a{href: 'http://www.hotelhealdsburg.com/home/'}
              Hotel Healdsburg
          %li
            %a{href: 'http://www.h2hotel.com/home/'}
              H2 Hotel
        %p
          Labore Tumblr ugh, aesthetic non leggings laboris 90's kogi Pinterest eu tofu. Raw denim cred sartorial, gentrify art party Schlitz excepteur locavore PBR&B cornhole cliche. Fap fixie aliquip Godard, disrupt VHS assumenda tattooed selvage you probably haven't heard of them ex minim keytar. Put a bird on it velit tofu, blog whatever sint consectetur McSweeney's dreamcatcher pariatur duis skateboard Helvetica polaroid consequat. Sriracha fingerstache beard ugh nisi DIY bespoke. High Life Godard mustache Etsy. Fap pour-over you probably haven't heard of them authentic mixtape officia.
.row.even.section-container
  .span7
    %h2
      Visiting Healdsburg
    %p
      Vero in locavore, Truffaut qui slow-carb cliche gastropub deep v mixtape occaecat eiusmod. Tempor mlkshk Truffaut quinoa, voluptate messenger bag do Pinterest PBR fap art party artisan paleo selfies tote bag. Post-ironic direct trade Neutra, PBR reprehenderit kitsch paleo hella seitan sartorial beard pork belly raw denim non. Hashtag fingerstache readymade occaecat Williamsburg bicycle rights Banksy. Dolore dolor post-ironic, gluten-free keytar narwhal mixtape. Small batch butcher Tumblr, fingerstache bitters ex semiotics. Delectus yr forage, synth street art ut hella labore VHS.
    %ul
      %li
        %a{href: 'http://www.ci.healdsburg.ca.us/index.aspx'}
          City of Healdsburg
      %li
        %a{href: 'http://www.healdsburg.com'}
          Healdsburg Visitors Bureau
      %li
        %a{href: 'http://wikitravel.org/en/Healdsburg'}
          Healdsburg on Wikitravel
  .span5
    %img.section-photo{src: 'images/healdsburg.jpg'}
.row.odd.section-container
  .span12
    %h2
      Registry
    %p
      Labore Tumblr ugh, aesthetic non leggings laboris 90's kogi Pinterest eu tofu. Raw denim cred sartorial, gentrify art party Schlitz excepteur locavore PBR&B cornhole cliche. Fap fixie aliquip Godard, disrupt VHS assumenda tattooed selvage you probably haven't heard of them ex minim keytar. Put a bird on it velit tofu, blog whatever sint consectetur McSweeney's dreamcatcher pariatur duis skateboard Helvetica polaroid consequat. Sriracha fingerstache beard ugh nisi DIY bespoke. High Life Godard mustache Etsy. Fap pour-over you probably haven't heard of them authentic mixtape officia.
    %ul
      %li
        %a{href: 'http://www.honeyfund.com/wedding/aliandmatt'}
          Honeyfund
      %li
        %a{href: 'http://www.gentlebarn.org'}
          The Gentle Barn
      %li
        %a{href: 'http://www.sfspca.org'}
          San Francisco SPCA
      %li
        %a{href: 'http://www.lacocinasf.org'}
          La Cocina
